/* nav underline */
.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item:hover {
    font-weight: 700;
}

.nav-social img:hover {
    transform: scale(1.4);

}

.nav-button:hover {
    background-color: #36BEFF;
    font-weight: 700;
    border: 2px solid white;
}

/* hero button */
.hero-button {
    max-width: 186px;
    width: 100%;
    height: 46px;
    background-color: transparent;
    color: black;
    font-weight: 600;
    font-size: var(--fs-base);
    border: 2px solid #36BEFF;
    border-radius: 45px;
    position: relative;
    overflow: hidden;
    margin-top: 52px;

}

.hero-button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 45px;
    top: 0%;
    left: 0%;
    z-index: 1;
    transition-duration: 0.6s;

}

.hero-button:hover:after {
    width: 0%;
}

.hero-button:hover span {
    color: white;
    font-weight: 600;
    z-index: 3;
    position: relative;
}

.hero-button span {
    z-index: 3;
    position: relative;
    color: black;
    font-weight: 600;
}

/* cards popular section hover */
.popular-sec-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(235, 228, 228, 0.3);
}

.learn-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(235, 228, 228, 0.3);
}

.case-api-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(235, 228, 228, 0.3);
}

.community-social-icons img:hover {
    transform: scale(1.6);

}

/* .icon-outer:hover {
    transform: scale(1.2);
} */

/* Hover underline animation */
.footer-icons:hover {
    transform: scale(1.6);
}

.footer-column ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #36BEFF;
    transition: width 0.3s ease;
}

.footer-column ul li a:hover::after {
    width: 100%;
}

.footer-column ul li a:hover {
    color: #36BEFF;
}

.social-icons a {
    color: #bbb;
    font-size: 20px;
    margin-right: 15px;
    transition: color 0.2s ease;
}

.social-icons a:hover {
    color: #fff;
}