:root {
    /* 🎨 Color Palette */
    --primary-color: #36BEFF;
    --secondary-color: #9F9F9F;


    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --text-color: #212529;
    --background-color: #ffffff;

    /* 🔤 Typography */
    --font-family: "Tomorrow", sans-serif;
    --font-family-bebas: "Bebas Neue", sans-serif;
    --font-family-segoe: 'Segoe UI', sans-serif;

    --fs-sm: 12px;
    --fs-base: 14px;
    --fs-lg: 15px;
    --fs-xl: 16px;
    --fs-2xl: 17px;
    --fs-3xl: 20px;
    --fs-4xl: 40px;
    --fs-5xl: 65px;


    /* 📏 Spacing */
    --padding-small: 0.5rem;
    --padding-base: 1rem;
    --padding-large: 2rem;

    --margin-small: 0.5rem;
    --margin-base: 1rem;
    --margin-large: 2rem;

    /* 🎨 Border */
    --border-radius: 8px;
    --border-color: #ccc;
    --border-width: 1px;

    /* 🌑 Shadows */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* 🔁 Transitions */
    --transition-speed: 0.3s;

    /* 💡 Z-Index */
    --z-index-dropdown: 1000;
    --z-index-modal: 1050;
    --z-index-tooltip: 1100;
}


body {
    font-family: var(--font-family);
}

.fs-5xl {
    font-size: var(--fs-5xl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}

.fs-base {
    font-size: var(--fs-base);
}

.primary-color {
    color: var(--primary-color);
}

.font-family-bebas {
    font-family: var(--font-family-bebas);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.secondary-color {
    color: var(--secondary-color);
}

.font-family-segoe {
    font-family: var(--font-family-segoe);
}

@media (max-width: 992px) {
    :root {
        --fs-xs: 10px;
        --fs-sm: 12px;
        --fs-base: 12px;
        --fs-lg: 13px;
        --fs-xl: 14px;
        --fs-2xl: 15px;
        --fs-3xl: 18px;
        --fs-4xl: 35px;
        --fs-5xl: 55px;
    }
}

@media (max-width: 576px) {
    :root {
        --fs-xs: 10px;
        --fs-sm: 11px;
        --fs-base: 11px;
        --fs-lg: 12px;
        --fs-xl: 13px;
        --fs-2xl: 14px;
        --fs-3xl: 16px;
        --fs-4xl: 25px;
        --fs-5xl: 35px;
    }

}